<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | CaseProduttrici')"></head>

<body>
	<nav th:replace="fragments/base.html :: loginNav"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">
		<section id="titoloPagina">
			<h2>Seleziona la casa produttrice che vuoi eliminare:</h2>
		</section>
		<section id="dati">
			<div class="objLista" th:each="casaProduttrice : ${caseProduttrici}">
				<a th:href="@{'/casaProduttrice' + '/' + ${casaProduttrice.id}}"> <img
					class="foto" th:src="@{${casaProduttrice.photosImagePath}}" />
				</a>
				<section class="infoObj">
					<div th:text="${casaProduttrice.nome}">Nome</div>
					<form th:action="@{'/admin/deleteCasaProduttrice' + '/' + ${casaProduttrice.id}}"
						method="POST">
						<button type="submit">
							<img th:src="@{'/images/delete.png'}" height="40px" width="40px">
						</button>
					</form>
				</section>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>