body{ 
   Font-family: Rockwell;
   background-image: url("/images/vinoSfondo.jpg");
   Background-size: cover;
   background-repeat: no-repeat;
   Background-color:black;
}

/*HEADER e NAVBAR*/
Header{
  margin-top:50px;
  margin-left:25%;
  margin-right:auto;
  width:50%;
  Top:40px;
  display: flex;
  justify-content: space-between;
}

#logo{
  Height:70px;
}

#enoteca{
  Font-size:20px;
  Color:white;
}

#navbar{
  Height:40px;
  Background:none;
  margin-top:7px;
  Border-top:2mm ridge white;
  Border-bottom:2mm ridge white;
  font-size:18px;
}

#navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#navbar li {

}

#navbar li a {  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

#navbar li a:hover {
  color: rgb(122, 49, 68);
}

/* SECTION PRINCIPALE*/
#principale{
   Margin-top: 70px;
   Margin-left:20px;
   Margin-right:20px;
   Margin-bottom:60px;
   height:570px;
   Border:2px solid white;
   Overflow: scroll;
}

/*SECTION INTERNE*/
#titoloPagina{
    Color:white;
    Text-align: center;
    Background-color:  rgb(0, 0, 0, 0.6);
    Margin-left: 20%;
    Margin-right: 20%;
    Padding: 2px;
}

#dati{
    Text-align: center;
    Background-color:  rgb(0, 0, 0, 0.6);
    Min-height:400px;
    Margin-top: 20px;
    Margin-left: 10%;
    Margin-right: 10%;
    Margin-bottom: 20px;
    Padding: 2px;
}
/*da verificare se funzionano*/
.objList{
   margin-top:50px;
}

.infoObj{
	margin-top: 0px;
	width: 95.5%;
	text-align:center;
	background-color: gold;
	border: 4px solid brown;
	box-shadow: 5px 8px 10px 0px black;
	padding:5px;
}

.col{
  background-color:white;
  padding:5px;
  Height:370px;
  width:35%;
  border-radius:10px;
}

#paragrafo{
  height: 270px;
  overflow:scroll;
  margin: 10;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  border-radius: 10px;
  padding: 10px;
}

/*FOOTER*/
footer{
   Height:30px;
   Width:100%;
   Background-color:white;
   Position:fixed;
   Bottom:0px;
   Left:0px;
   Text-align:center;
   Padding-top:20px;
}

#ei{
height:2000px;
}