<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | CasaProduttrice')"></head>

<body>
	<nav th:replace="fragments/base.html :: loginNav"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">
		<section id="titoloPagina">
			<h2 th:text="${casaProduttrice.nome}">Nome</h2>
		</section>
		<div id="flex-container">
			<section id="dati">
			    <img class="foto"
				     th:src="@{${casaProduttrice.photosImagePath}}"/>
				<ul>
					<li><h4>Sede:</h4> <span th:text="${casaProduttrice.sede}">Sede</span></li>
					<li><h4>Data Fondazione:</h4> <span
						th:text="${casaProduttrice.dataFondazione}">Data Fondazione</span></li>
					<li><h4>Fondatore:</h4> <span
						th:text="${casaProduttrice.fondatore}">Fondatore</span></li>
					<li><h4>Nazione:</h4> <a
						th:href="@{'/nazione' + '/' + ${nazione.id}}"> <span
							th:text="${nazione.nome}">Nazione</span>
					</a>
				</ul>
			</section>
			<div class="col">
				<h5>La Cantina:</h5>
				<p id="paragrafo" th:text="${casaProduttrice.descrizione}">Descrizione</p>
			</div>
		</div>


		<section id="titoloPagina">
			<h3>Le produzioni della casa</h3>
		</section>
		<section id="dati">
			<div class="objLista" th:each="alcolico : ${alcolici}">
				<a th:href="@{'/alcolico' + '/' + ${alcolico.id}}"> <img
					class="foto-alcolico"
					th:src="@{'/images' + '/' + ${alcolico.nome} + '.jpg'}">
				</a>
				<section class="infoObj">
					<div th:text="${alcolico.nome}">Nome</div>
				</section>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>