<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | CaseProduttrici')"></head>

<body>
	<nav th:replace="fragments/base.html :: loginNav"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">
		<section id="titoloPagina">
			<h2>Tutte le case produttrici presenti nell'Enoteca</h2>
		</section>
		<section id="dati">
			<div id="lista">
				<div class="objLista" th:each="casaProduttrice : ${caseProduttrici}">
					<a th:href="@{'/casaProduttrice' + '/' + ${casaProduttrice.id}}">
						<img class="foto" th:src="@{${casaProduttrice.photosImagePath}}" />
					</a>
					<section class="infoObj">
						<div th:text="${casaProduttrice.nome}">Nome</div>
					</section>
				</div>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>