<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title='ER3 | Homepage')"></head>

  <body>
    <header th:replace="fragments/base.html :: header"></header>
     
    <section id="esterna">
     <section id="principale">
    
       <section id="titoloPagina" >
         <h2>Titolo Pagina</h2>
       </section>
      
       <section id="dati">
          <div id="ei"></div>
       </section>
       
     </section>
    </section>
    
    <footer th:replace="fragments/base.html :: footer"></footer>
    
  </body>

</html>