<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title='ER3 | Homepage')"></head>

  <body>

    <nav th:replace="fragments/base.html :: loginNav"></nav>
    
    <header th:replace="fragments/base.html :: header"></header>
     
     <section id="principale">
    
       <section id="titoloPagina" >
         <h2>ENOTECA ROMA TRE</h2>
       </section>
      
       <section id="dati">
          <div id="homeAlcolici">
            <div th:each="alcolico : ${alcolici}" class="immagini">
             <img th:src="@{${alcolico.photosImagePath}}"/>
         	</div>          
          </div>
       </section>
     
     </section>
    
    <footer th:replace="fragments/base.html :: footer"></footer>
    
  </body>

</html>