<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | Nazioni')"></head>

<body>
	<nav th:replace="fragments/base.html :: loginNav"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">
		<section id="titoloPagina">
			<h2>Lista di Nazioni</h2>
		</section>
		<section id="dati">
			<div id="lista">
				<div class="objLista" th:each="nazione : ${nazioni}">
					<a th:href="@{'/nazione' + '/' + ${nazione.id}}"> <img
						class="foto"
						th:src="@{'/images' + '/' + ${nazione.nome} + '.jpg'}">
					</a>
					<section class="infoObj">
						<div th:text="${nazione.nome}">Nome</div>
					</section>
				</div>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>