<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | Tipologie')"></head>

<body>
	<nav th:replace="fragments/base.html :: loginNav"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">
		<section id="titoloPagina">
			<h2 th:text="${tipologia.nome}">Nome</h2>
		</section>
		<section id="dati">

			<h5>DESCRIZIONE:</h5>
			<div th:text="${tipologia.descrizione}">Descrizione</div>
			<section id="titoloPagina">
				<h3>I nostri prodotti:</h3>
			</section>
			<div class="objLista" th:each="alcolico : ${alcolici}">
				<a th:href="@{'/alcolico' + '/' + ${alcolico.id}}"> <img
					class="foto-alcolico"
					th:src="@{'/images' + '/' + ${alcolico.nome} + '.jpg'}">
				</a>
				<section class="infoObj">
					<div th:text="${alcolico.nome}">Nome</div>
				</section>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>