<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='ER3 | Tipologie')"></head>

<body>
	<header th:replace="fragments/base.html :: header"></header>
	<section id="principale">
		<section id="titoloPagina">
			<h2>Tipologie presenti nell'Enoteca</h2>
		</section>
		<section id="dati">
			<div id="multiple" th:each="tipologia : ${tipologie}">
				<a th:href="@{'/tipologia' + '/' + ${tipologia.id}}">
					<div th:text="${tipologia.nome}">Nome</div>
				</a>
			</div>
		</section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>